<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">ユーザー一覧</li>
    </ol>
  </nav>
  <%= paginate @employees %>
    <ul class="list-group">
      <%= render @employees %>
    </ul>
</div>
