<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">ログイン中のユーザー</li>
    <li class="breadcrumb-item">ID:<%= @employee.id %></li>
    <li class="breadcrumb-item">名前:<%= @employee.name %></li>
    <li class="breadcrumb-item active" aria-current="page">管理者属性:<%= @employee.admin? %></li>
  </ol>
</nav>
