<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">カメラチェック結果一覧</li>
    </ol>
  </nav>
  <div class="container">
    <% if @attendances.any? %>
      <%= paginate @attendances %>
        <ul class="list-group">
          <%= render @attendances %>
        </ul>
    <% else %>
      <%= "カメラチェックのデータがありません" %>
    <% end %>
  </div>
</div>
