<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">カメラチェック</li>
    </ol>
  </nav>
  <%= render 'form', attendance: @attendance %>
</div>
