<div class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/employees">Procuratio</a>
  <div claas= "navbar-right">
    <ul class="navbar-nav">
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "編集", edit_employee_path %>
        <%= link_to "ログアウト", logout_path, method: :delete %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "ログイン", login_path %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
